@import 'variables';
.navigation-container{
    min-height: 90px;
    align-items: center;
    .nav-right-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-container{
            display: flex;
            align-items: center;
            width: 70%;
            border:1px solid $border-color;
            background-color: #f7f7f7;
            border-radius: 28px;
            height: 50px;
            margin-right: 20px;
            input.search-input{
                width: 100%;
                height: 50px;
                font-size: 15px;
                padding-left: 40px;
                outline: none;
                border:none;
                background-color:transparent;
                background-image: url(../img/search-icon.svg);
                background-repeat: no-repeat;
                background-position:10px center;
            }
            .search-button{
                width: 65px;
                height: 40px;
                font-size: 18px;
                color: #fff;
                background-color: $base-green;
                border:2px solid #EDF1F2;
                border-radius: 28px;
                margin-right: 5px;
            }
        }
        .cart-container{
            display: flex;
            justify-content: flex-end;
            position: relative;
            .cart-button{
                width: 142px;
                height: 50px;
                font-size: 16px;
                font-weight: 600;
                background-color: $base-color;
                border-radius: 28px;
                border:none;
                color: #fff;
                text-align: center;
            }
            .cart-count-badge{
                position: absolute;
                top:-5px;
                right: -5px;
                background-color: #FF5B4D;
                color: #fff;
                font-size: 16px;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                line-height: 18px;
                font-weight: 600;
                text-align: center;
            }
            .free-cargo-popover{
                position: absolute;
                top:60px;
                right:0;
                min-width: 300px;
                background-color: #F54257;
                border-radius: 10px;
                padding: 10px;
                color: #fff;
                font-size:15px;
                font-weight: 600;
                z-index: 10;
                visibility: hidden;
                transition: ease-in all 1s;
                &.show{
                    visibility: visible;
                }
                &::before{
                    content:"";
                    width: 0; 
                    height: 0; 
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;   
                    border-bottom: 5px solid #F54257;
                    position: absolute;
                    top: -5px;
                    right: 20%;
                }
                .yellow-text{
                    color: #FFCE00;
                }
                .proggress-container{
                    width: 100%;
                    height: 5px;
                    border-radius: 5px;
                    background-color: #D01D32;
                    margin-top:5px;
                    .proggress{
                        width: 50%;
                        background-color: #FFCE00;
                        height: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    
}
// max-width set 767 because of ipad vertical
@media only screen and (max-width: 767px) {
    .logo-container{
        margin:20px 0;
        text-align: center;
    }
    .nav-right-container{
        flex-direction: column;
        .search-container{
            width: 100% !important;
            margin-right:0 !important;
            margin-bottom: 20px;
        }
        .cart-container{
            margin-bottom: 20px;
        }
    }
}