@import 'variables';
.navigation-container{
    min-height: 90px;
    align-items: center;
    .nav-right-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .search-container{
            display: flex;
            align-items: center;
            width: 70%;
            border:1px solid $border-color;
            background-color: #f7f7f7;
            border-radius: 28px;
            height: 50px;
            margin-right: 20px;
            input.search-input{
                width: 100%;
                height: 50px;
                font-size: 15px;
                padding-left: 40px;
                outline: none;
                border:none;
                background-color:transparent;
                background-image: url(../img/search-icon.svg);
                background-repeat: no-repeat;
                background-position:10px center;
            }
            .search-button{
                width: 65px;
                height: 40px;
                font-size: 18px;
                color: #fff;
                background-color: $base-green;
                border:2px solid #EDF1F2;
                border-radius: 28px;
                margin-right: 5px;
            }
        }
        .cart-container{
            display: flex;
            justify-content: flex-end;
            .cart-button{
                width: 142px;
                height: 50px;
                font-size: 16px;
                font-weight: 600;
                background-color: $base-color;
                border-radius: 28px;
                border:none;
                color: #fff;
                text-align: center;
            }
        }
    }
    
}
// max-width set 767 because of ipad vertical
@media only screen and (max-width: 767px) {
    .logo-container{
        margin:20px 0;
        text-align: center;
    }
    .nav-right-container{
        flex-direction: column;
        .search-container{
            width: 100% !important;
            margin-right:0 !important;
            margin-bottom: 20px;
        }
        .cart-container{
            margin-bottom: 20px;
        }
    }
}