@import 'variables';
.page-header-container{
    background: url('../img/header-bg.png');
    background-repeat: repeat-x;
    background-size: cover;
    color: #fff;
    h1{
        margin: 15px 0;
    }
}
@media only screen and (max-width: 767px) {
    .page-header-container{  
        h1{
            width: 100%;
            text-align: center;
        }
    }
}